@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  color: #475467;
}

*::-webkit-scrollbar {
  display: none;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.font-inter {
  font-family: 'Inter', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* common classes */
.text-primary {
  color: rgba(255,170,165,1)
}
.bg-primary {
  background-color: rgba(255,170,165,1)
}
.text-secondary {
  color: rgba(168, 221, 230, 1)
}
.bg-secondary {
  background-color: rgba(168, 221, 230, 1)
}
.text-black {
  color: #475467;
}
.letterGap {
  letter-spacing: -0.205px;
}
.text-cyan {
  color: #67748E;
}
.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}


/* gradients */
/* gradients */
.gradientText {
  background: linear-gradient(269deg, #FFAAA5 27.81%, #A8DDE6 62.01%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradientBg {
  background: linear-gradient(248deg, #A8DDE6 0.94%, #FFA5A5 100%);
}



/* responsive classes */
.main-container {
  @apply w-full mx-auto px-4 lg:px-2;
}
@media (min-width: 576px) {
  .main-container {
    max-width: 540px !important;
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: 720px !important;
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: 1170px !important;
  }
}
@media (min-width: 1400px) {
  .main-container {
    max-width: 1320px !important;
  }
}


/* swiper js */
.swiper-wrapper {
  position: relative !important;
  padding-bottom: 50px !important;
}

 .swiper-pagination {
  position: absolute !important;
  bottom: 70px !important;
  left: 120px !important;
}


.swiper-button-next,
.swiper-button-prev {
  display: none !important;
} 

.swiper-pagination-bullet {
  margin: 0px 5px !important;
}

.swiper-pagination-bullet-active {
  background-color: rgba(255,170,165,1) !important;
  transform: scale(1.5) !important;
} 