@media screen and (min-width: 1200px) {
    .bannerBg {
        background: url('../../public/assets/images/bannerhomearrowsnake.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: -20px 150px;
    }
}